/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
 .worldsynth-color-gradient-editor .gradient-bar {
	-fx-background-image: url("transparency-pattern.png"); 
	-fx-background-repeat: repeat;
	-fx-background-size: auto;
}

.worldsynth-color-gradient-editor .gradient-bar .stop-indicator {
	-fx-background-color: null;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-translate-x: -5px;
	-fx-translate-y: -5px;
	-fx-pref-width: 10px;
	-fx-pref-height: 30px;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}